body {
    width: auto;
    height: 100vh;
    background-color: black;
}
/* Typography Specific */
h1, h2, h3, h4, h5, h6, label {
    font-weight: 700;
    color: white;
}
#header h1 {
    font-size: 16rem;
}
#header h2, section h2, #header label{
    font-size: 5rem;
    color: #ddd;
}
div.search {
    width: 100%;
    padding: 16px;
}
input {
    border: none;
}
input#search {
    display: inline-flex;
    padding: 10px 16px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #000;
    font-weight: 500;
    width: 100%;
}
input#search::placeholder {
    color: #aaa;
}
input#submitBtn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    background-color: lightskyblue;
}
#img-container {
    padding: 16px;
}
section {
    padding: 7.2rem 0;
}
.search-bar {
    background-color: white;
    display: flex;
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
}
#img-container img, .img-container img{
    width: 100%;
    height: auto;
}
#img-container .img-tiles, .img-container .img-tiles {
    height: 400px;
    width: auto;
    padding: 0;
    margin: 0;;
}
#search-form input[type=text] {
    color: red;
    background: transparent;
    font-size: 5rem;
    font-weight: 600;
    margin: 24px;
    display: inline;
    border-bottom: 5px blue solid;
    text-align: center;
    width: auto;
}
button {
    padding: 0;
    border-radius: 24px;
    margin: 12px;
    border: none;
    clip-path: none;
}
button.cta {
    padding: 12px 20px;
    border-radius: 0px;
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0px;
    border: 4px blue solid;
    transition: background-color 500ms ease-in-out;
}
button.cta:hover {
    background-color: transparent;
    transition: background-color 500ms ease-in-out;

}
.subheading {
    font-size: 2.4rem;
    color: white;
    line-height: 4.4rem;
}
.v-alignment {
    align-items: center;
    display: flex;
}
.h-alignment {
    justify-content: center;
}
section .hidden {
    display: none;;
}
section.hidden {
    display: none;;
}
.align-l {
    text-align: left;
}
.align-r {
    text-align: right;
}
.section-list li .img-buttons {
    width: 100%;
    border-radius: 0px;
    background-color: black;
    text-align: left;
    margin: 0px;
}
.section-list li .img-buttons:hover {
    background-color: #222;
} 
.section-list li .img-buttons img {
    width: 100%;
    height: 420px;
    border-radius: 0px;
    object-fit: cover;
}
.section-list li .img-buttons .list-item-description {
    font-size: 1.5rem;
}
.section-list .img-buttons h3 {
    font-size: 20rem;
}
.section-list .heading-content {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}
.section-list .left-column {
    overflow: hidden;
    max-height: 420px;;
}
.clone-list::marker, .section-detail .information-card .article-link::marker {
    content: none !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.white {
    color:white;
}

.section-detail h2{
    font-size: 16rem;
    word-wrap: anywhere;
    line-height: 16rem;
}
.section-detail h3 {
    font-size: 4rem;
}
.section-detail .information-card {
    margin: 32px 0;
}
.section-detail .details {
    color: white;
    font-size: 2.4rem;
}
.section-detail .overline-details, .section-detail .underline-details {
    display: flex;
    align-items: center;
    padding: 2.4rem 1.6rem;
}
.section-detail .underline-details:first-of-type {
    margin-top: 0px;
}
.status-indicator {
    padding: 6px 14px;
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    float: right;
}
.status-indicator.success {
    background-color: green;
}
.status-indicator.failure {
    background-color: red;
}
.section-detail .underline-details {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 3.2rem 0;
}
.icon {
    
}
.section-detail .information-card .article-link {
        float: right;
        position: absolute;
        right: 24px;
}
/* Loader */
.slider{
  position:absolute;
  width:100%;
  height:8px;
  overflow-x: hidden;
}
.slider.large {
    height: 16px;
}
.slider.hidden {
    display: none;
}
.line{
  position:absolute;
  opacity: 0.4;
  background:#4a8df8;
  width:150%;
  height: 100%;
}

.subline{
  position:absolute;
  background:#4a8df8;
  height: 100%; 
}
.inc{
  animation: increase 3s infinite;
}
.dec{
  animation: decrease 3s 0.5s infinite;
}

@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 130%; width: 100%;}
}
@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 110%; width: 10%;}
}